*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

main{
    width: 90%;
    background-color: blue;
    overflow-y: scroll;
    position: relative;
}

footer{
    height: 100px;
    width: 100%;
    background-color: pink;
    position: absolute;
    z-index: 1;
}

.wrapper{
    display: flex;
    height: calc(100vh - 100px);
}

aside{
    background-color: yellow;
    width: 10%;
}

.sidebar-container{
    height: 100%;
}

.sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .logo, .sidebar .profilo{
    background-color: red;
}


.container{
    width: 90%;
    margin: 0 auto;
}

#upgrade{
    width: 100%;
    background-color: rgba(0, 255, 255, 0.445);
    height: 50px;
}

/* aside */

.logo-sm{
    display: block;
}

.lista-sm{
    display: block;
}

.logo-big{
    display: none;
}

.lista-big{
    display: none;
}

/* navbar */

.navbar{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.navbar ul li{

    padding-right: 1rem;
}
/* sezione cards */

.cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.cards .card{
    width: calc(100% / 2 - 2rem);
    height: 100px;
    background-color: red;
    border: 1px solid black;
    margin: 1rem;

}


@media screen and (min-width: 351px){

    /* aside */

    aside{
        width: auto;
    }

    .sidebar .logo, .sidebar .profilo{
        background-color: red;
        margin-right: 1rem;
    }

    .logo-sm{
        display: none;
    }
    
    .lista-sm{
        display: none;
    }
    
    .logo-big{
        display: block;
    }
    
    .lista-big{
        display: block;
    }
    
    .profilo .lista-big li{ 
        display: flex;
    }

    .profilo .lista-big li img:first-child{ 
        width: 1rem;
    }
    .profilo .lista-big li img:last-child{ 
        width: 1.5rem;
    }

    /* main */

}
    
