*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}


footer{
    height: 100px;
    width: 100vw;
    background-color: pink;
    position: absolute;
    z-index: 1;
}

.wrapper{
    display: flex;
    height: calc(100vh - 100px);
    width: 100vw;
}

aside{
    background-color: yellow;
    width: 50px;
}

.sidebar-container{
    height: 100%;
}

.sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    width: calc(100vw - 50px);
    background-color:#141922;
    overflow-y: scroll;
    position: relative;
    height: 100%;
}

.sidebar .logo, .sidebar .profilo{
    background-color: red;
}

#upgrade{
    width:  calc(100vw - 50px);
    background-color: rgb(8, 11, 18, 0.5);
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding-top: 75px;
}


/* aside */

.logo-sm{
    display: block;
}

.lista-sm{
    display: block;
}

.logo-big{
    display: none;
}

.lista-big{
    display: none;
}

/* upgrade */

#upgrade button{
    margin-right: 0.75rem;
    padding: 0.5rem 2rem;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}



/* navbar */

.navbar{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar ul li{

    padding-right: 1rem;
}
/* sezione cards */

.cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.cards .card{
    width: calc(100% / 2 - 2rem);
    /* height: 100px; */
    background-color: red;
    border: 1px solid black;
    margin: 1rem ;
}

.album img{
    width: 100%;
}

@media screen and (min-width: 576px){

    /* aside */

    aside{
        width: 150px;
    }

    .sidebar .logo, .sidebar .profilo{
        background-color: red;
        margin-right: 1rem;
    }

    .logo-sm{
        display: none;
    }
    
    .lista-sm{
        display: none;
    }
    
    .logo-big{
        display: block;
    }
    
    .lista-big{
        display: block;
    }
    
    .profilo .lista-big li{ 
        display: flex;
    }

    .profilo .lista-big li img:first-child{ 
        width: 1rem;
    }
    .profilo .lista-big li img:last-child{ 
        width: 1.5rem;
    }

    /* main */

    main{
        width: calc(100vw - 150px);
    }

    #upgrade{
        width:  calc(100vw - 150px);
    }

}



@media screen and (min-width:768px){

    #recently-played .card{
        width: calc(100% / 4 - 2rem);

    }
}
    
@media screen and (min-width:992px) {
    
    #recently-played .card{
        width: calc(100% / 6 - 2rem);

    }
}